
	@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

	.font-main{  font-family: "Play", serif !important;}
	.font-secondary{font-family: 'Play', serif !important;}

	body{ font-family: 'Play', sans-serif; font-weight: 300; letter-spacing: 0.3px;}
	body *{outline:none;}

	.about .link-in-text{-webkit-transform:scale(1) translateZ(0);transform:scale(1) translateZ(0);}
	.about .link-in-text:hover{-webkit-transform:scale(147) translateZ(0);transform:scale(1.4) translateZ(0);}
	.about .link-in-text img{box-shadow: 1px 5px 56px 0 rgba(0,0,0,0); border-radius: 50%;}
	.about .link-in-text:hover img{box-shadow: 1px 5px 56px 0 rgba(0,0,0,0.56);}

	.categories .column-double-height{padding-left:0.75vw; padding-right:0.75vw;}
	.categories .column-one-height{padding-left:0.75vw; padding-right:0.75vw;}
	.categories .column-bottom{margin-top: calc(1.5vw + 1px);}